html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #373a3c;
}

/* Hero Section */

#Hero-Section {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mis trabajos */
#Mis-trabajos {
  background-color: #ffff !important;
}
#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */
#Contacto {
  width: 70%;
}
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}
.btn {
  background-color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
  .navbar-brand {
    width: 100px;
  }
  .datos-personales {
    display: none;
  }
  #Hero-Section {
    height: 300px;
  }
}
