@import 'sass/base/typography';

@import 'sass/layout/navigator', 'sass/layout/main', 'sass/layout/footer';

* {
	box-sizing: content-box;
}
html {
	scroll-behavior: smooth;
}

body {
	background-color: #28292d;
	font-family: $primary-font;
	margin: 0;
}
p,
li {
	font-size: 1.2rem;
}
h1 {
	font-size: 3rem;
	font-family: $secondary-font;
	margin: 0;
	color: #d2d2cf;
}
hr {
	margin: 0;
}
