footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	background-color: #e86702;
	color: #000000;
	height: 50px;
	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		.logo {
			animation: rotation 5s infinite;
		}
		p {
			font-size: 0.9rem;
		}
	}
	.website-counter {
		font-size: 1.5rem;
		font-weight: 600;
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(359deg);
	}
	to {
		transform: rotate(0deg);
	}
}
