.disposicion {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
	height: auto;
	margin: 150px 0;
}
main {
	text-align: center;
	color: white;
	.hero {
		background-image: url('/assets/img/hero2.jpg');
		background-position: center;
		background-size: cover;
		position: relative;
		z-index: 0;
		height: 80vh;
	}
	.proyectos2 {
		background-color: #181818;
		padding-top: 50px;
	}
	.proyectos3 {
		padding-top: 50px;
	}
	.proyectos {
		@extend .disposicion;
		margin: 0;
		padding: 150px 0;
		.item {
			width: 300px;
			height: 150px;
			border: 1px solid #d2d2cf;
			border-radius: 5px;
			text-align: center;
			.retrocicla {
				background-image: url('https://res.cloudinary.com/hbe31hrjn/image/upload/v1653487394/resources/somos_uvt2bb.png');
				background-size: cover;
				background-position: center;
				border-radius: 5px;
				height: 100%;
				transition: box-shadow 0.5s;
			}
			.retrocicla:hover {
				box-shadow: 0px 0px 10px 5px #d2d2cf;
				cursor: pointer;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.desarrollo {
		margin: 150px 0;
		.lenguaje {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			height: auto;
			padding: 0 5%;
			gap: 30px;
			.titulo {
				text-align: center;
				width: 90%;
				color: #d2d2cf;
			}
			.contenido {
				display: flex;
				flex-direction: row;
				text-align: end;
				width: 90%;
				height: auto;
				margin: 50px 0;
			}
			.contenido2 {
				text-align: start;
			}
			.iconos {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-self: flex-start;
				img {
					width: 40px;
				}
			}
			.iconos2 {
				justify-content: center;
			}
		}
		.item:hover {
			box-shadow: 0px 0px 10px 5px #fff;
			cursor: pointer;
		}
	}
	.expertise {
		@extend .disposicion;
		flex-direction: column;
		height: min-content;
		margin: 0;
		.item {
			display: none;
		}
		.treinee {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			position: absolute;
			top: 20%;
			width: 50%;
			gap: 20px;
			.logos {
				transition: transform 0.5s;
			}
			.logos:hover {
				transform: scale(1.1);
			}
			.udemy {
				position: absolute;
				top: 100%;
				left: 50%;
			}
		}
		.hero-part {
			position: absolute;
			top: 18%;
			width: 250px;
			height: 450px;
			background-color: #28292d;
			opacity: 0.8;
			border-radius: 15px;
		}
		.hero-part-text {
			position: absolute;
			width: 380px;
			height: 200px;
			font-size: 1.2rem;
			top: 27%;
		}
	}
}

@media (min-width: 600px) {
	main {
		.expertise {
			.item {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				padding-top: 40px;
				gap: 10px;
				width: 100%;
				min-height: 140px;
				.exp {
					cursor: pointer;
					p {
						margin: 0;
						color: #28292d;
						text-align: center;
					}
				}
			}
		}
	}
}
@media (min-width: 1000px) {
	main {
		.proyectos {
			.item {
				width: 400px;
				height: 200px;
			}
		}
		.desarrollo {
			.lenguaje {
				flex-direction: row;
				height: 500px;
				padding: 0 5%;
				.contenido {
					width: 40%;
				}
			}
			.lenguaje2 {
				flex-direction: row-reverse;
			}
		}
		.expertise {
			.treinee {
				flex-direction: row;
				justify-content: center;
				top: 32%;
				width: 500px;
				gap: 20px;
				.udemy {
					position: absolute;
					top: 60%;
					left: 80%;
				}
			}
			.hero-part {
				top: 30%;
				width: 500px;
				height: 250px;
			}
		}
	}
}
