nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	padding: 0 5%;
	text-align: center;
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);
	height: 60px;
	color: #d2d2cf;
	.felipe {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
		font-weight: bolder;
		.perfil {
			border-radius: 50%;
			width: 50px;
			height: 50px;
			object-fit: cover;
			border: 3px solid transparent;
			transition: 0.3s;
		}
		.perfil:hover {
			cursor: pointer;
			border: 3px solid #d2d2cf;
		}
		p {
			display: none;
			margin: 0;
		}
	}
	.dropdown {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 60px;
		left: 6%;
		background-color: rgba(0, 0, 0, 0.8);
		height: 70px;
		width: 120px;
		border-radius: 10px;
		border: 2px solid #d2d2cf;
		.elementos {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			width: 80%;
		}
	}
	.menu {
		display: flex;
		flex-direction: row;
		list-style: none;
		gap: 40px;
		a {
			text-decoration: none;
			color: #fff;
		}
		a:hover {
			color: #28292d;
			color: #fff;
			text-shadow: 0 0 7px #f9a907, 0 0 10px #f9a907, 0 0 21px #f9a907, 0 0 42px #f9a907, 0 0 82px #f9a907,
				0 0 92px #f9a907, 0 0 102px #f9a907, 0 0 151px #f9a907;
		}
	}
}

@media (min-width: 600px) {
	nav {
		.felipe {
			p {
				display: inline-block;
			}
		}
	}
}
